.navigation {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.logo {
    height: 100px;
    width: 100px;
    transition: .2s;
}

.color {
    color: #212529;
}

.nav-input {
    border: none;
    background: transparent;
}

.nav-input:focus {
    outline: none;
}

.search {
    border: 1px solid gray;
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: 0.5em;
    display: inline;
    margin: .7em .7em .7em 0em;

}

#hide-search-icon {
    display: none;
}

.icon {
    margin: .5em;
}

#right-nav-items {
    padding-left: 0em;
}

.carousel-inner img {
    height: 40rem;
}

footer {
    color: white;
    background-color: #111111;
}

.footer-top {
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-section-heading {
    flex: 2;
}

.send-mail-input-box {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 1px;
}

.info-row {
    color: white;
    text-decoration: none;
}

.info-row:hover {
    text-decoration: none;
    color: gray;
}

.small-footer-top {
    display: none;
}
/* --------Services Section----------- */
.services{
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.service-box{
    display: flex;
    flex-direction: column; 
    text-align: center;
    width: 30%;
}
.service-logo{
    scale: 1.5;
    margin: 1.5em;
}

@media screen and (max-width : 992px) {
    nav .navbar-brand {
        margin-right: 0;
    }

    #hide-search-icon {
        display: inline-block;
    }

    .icon {
        scale: 0.8
    }

    .search {
        display: none;
    }

    .carousel-inner img {
        height: 30rem;
    }

    .footer-top {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .footer-box {
        width: 45%;
    }
}

@media screen and (max-width : 768px) {

    #user,
    #heart {
        display: none;
    }

    .carousel-inner img {
        height: 20rem;
    }

    div.small-footer-top {
        display: flex;
        flex-direction: column;
    }

    div.small-footer-top button {
        text-align: start;
        color: white;
    }

    div.small-footer-top button:hover {
        color: gray;
    }

    div.small-footer-top button:focus {
        outline: none;
        box-shadow: none;
    }

    div.footer-top {
        display: none;
    }

    .sm-ft-opt {
        display: flex;
        justify-content: space-between
    }

    .services{
        flex-direction: column;
    }
    .service-logo{
        scale: 1.2;
        margin: 1.5em;
    }
}